/* Basic styling */

:root {
  /* Colors */
  --black: #09090c;
  --grey: #a4b2bc;
  --white: #fff;
  --background: rgba(137, 171, 245, 0.37);
}

html {
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
}

.container{
  display: flex;
}
main{
  width: 100%;
  /* padding: 20px; */
}
.sidebar{
background: #09090c;
color: #a4b2bc;
height: 100vh;
width: 300px;
transition:all 0.5s;
}
.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo{
  font-size: 20px;
}

.bars{
  font-size: 25px;
  display: flex;
  /* margin-left:150px */

}

.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap:15px;
  transition: all 0.5s;
  text-decoration: none;
}

.link:hover{
background-color: #197ec6;
  color: #fff;
  transition: all 0.5s;
}
.active{
  background-color: #197ec6;
  color: #fff;
}
.icon,.link_text{
  font-size: 20px;
}

.NavBar{
  background-color: #09090c;
  color: #fff;
  display: flex;
  width: 100%;
  justify-content:space-between
}

.profile{
  float: right;
} 